    <footer class="footer">
      Oluwatofarati Agbaje &copy; 2022
      <a class="footer-link" href="https://documenter.getpostman.com/view/23045732/VVBTWoBJ">API Documentation</a>
    </footer>
    <script src="/scripts/index.js"></script>
  </body>
</html>