<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <meta name="description" content="Listing application for movies" />
    <link rel="stylesheet" href="/stylesheets/style.min.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>
